.container{
    margin-top: 40px;
    margin-bottom: 60px;
    padding: 40px;
    width: 70%;
    background-color: aliceblue;
    justify-content: center;
    border-radius: 36px;
}

.container-transparan{
    margin-top: 40px;
    margin-bottom: 60px;
    padding: 40px;
    margin: 5% auto;
    width: 70%;
    justify-content: center;  
    border-radius: 36px;
}

.tombol-show{
    bottom: 0%;
    right: 0%;
}

.search-container {
  position: relative;
  width: 800px;
  margin-left: 82px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 25px;
  outline: none;
  font-size: 16px;
}

.button-2 {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}

#searchResults {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

#searchResults li {
  background-color: #fff;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
  padding: 20px;
  background-image: linear-gradient(to bottom, white, #90E0EF, #0077B6);
}

.footer-container {
  display: flex;
  justify-content: space-around;
}

.footer-section {
  flex: 1;
  padding: 10px;
  text-align: center;
}

.footer-section h3 {
  margin-bottom: 5px;
}

.footer-section p {
  margin: 0;
}

.card {
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
}

.card-body {
  background-color: #f8f9fa;
}

.card-title {
  font-weight: bold;
}

.btn-info {
  background-color: #17a2b8;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-info:hover {
  background-color: #138496;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.img-fluid{
  width: 100%;
  height: 100%;
}

.collapse .sukasukasaya {
	display: flex;
}